.chart {
    position: relative;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    width: min-content;
    text-align: center;
    justify-content: center;
    align-items: center;
    stroke-dasharray: 544;
    color: white;

    @include breakpoint(md) {
        // margin: 0 20px 40px 0;
    }

    @include breakpoint(sm) {
        margin: 20px auto;
    }

    svg {
        width: 200px;
        height: 200px;

        .ring {
            fill: transparent;
            stroke: #00c865;
            stroke-width: 15;
            stroke-linecap: round;
            transition: stroke-dashoffset 1s;
            -webkit-animation-play-state: running;
            transform: rotate(-90deg);
            transform-origin: center;
            background: -webkit-linear-gradient(-86deg, #EEF85B 5%, #7AEC8D 53%, #09E5C3 91%);
        }
    }

    &--num {
        position: absolute;
        width: 170px;
        height: 170px;
        top: 20px;
        left: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        // z-index: -9999;
        border-radius: 50%;
        font-size: 65px;
        // background: #e6faf0;
        color: #00c865;
        background: linear-gradient(180deg, #3ef99d 0%, #004a26 100%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    &--caption {
        margin-top: 20px;
    }
}