.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 12px 0;
    color: #fff;
    position: sticky;
    background-color: rgb(65, 65, 65);
    margin-bottom: 85px;
    font-size: 14px;
    transition: all .3s;
    z-index: 10;
    font-weight: 300;

    &__links {
        min-width: 400px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

        @include breakpoint(sm) {
            min-width: 300px;
        }
    }

    @include breakpoint(sm) {
        margin-bottom: 0;
        padding: 5px 0;
    }

    &__name {
        display: flex;
        flex-direction: column;
        text-align: center;
        order: 2;
        border: 1px solid white;
        padding: 5px 15px;
        transition: all .3s;

        &:hover {
            color: rgba(0, 0, 0, 0.8);
            background-color: #fff;
        }

        .sub-title {
            font-size: 12px;
        }
    }

    &__about {
        order: 3
    }

    &__projects {
        order: 1
    }
}