.nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px 0;
    color: #fff;
    position: sticky;
    background-color: slategray;
    margin-bottom: 85px;
    font-size: 19px;
    transition: all .3s;
    z-index: 10;

    @include breakpoint(md) {
        font-size: 16px;
    }

    @include breakpoint(sm) {
        margin-bottom: 0;
        padding: 5px 0;
    }

    &__name {
        display: flex;
        flex-direction: column;
        text-align: center;
        order: 2;
        border: 1px solid white;
        padding: 5px 15px;
        transition: all .3s;

        &:hover {
            color: slategray;
            background-color: #fff;
        }

        .sub-title {
            font-size: 12px;
        }
    }

    &__about {
        order: 3
    }

    &__projects {
        order: 1
    }
}