body {
    background-color: var(--color-bg);
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // text-align: center;
    min-height: 100vh;
}

img {
    max-width: 100%;
    height: auto;
    margin-top: 40px;
}