{{ define "main" }}
<div class="container">
    {{/*  Hero  */}}
    <div class="hero">
        <span class="project-type">{{ $.Param "hero.project_type" }}</span>
        <h1>{{ $.Param "hero.title" }}</h1>
        <h3>{{ $.Param "hero.description" }}</h3>
        <img src="{{ $.Param "hero.img" }}" class="hero--img" alt="">
    </div>

    {{/*  Case Studies  */}}
    <div id="projects" class="case-studies">
        <h2 class="case-studies--title">Case Studies</h2>

        <div class="case-study">
            <div class="case-study__text">
                <span class="project-type">{{ $.Param "case_study_01.type" }}</span>
                <h2>{{ $.Param "case_study_01.title" }}</h2>
                <h4>{{ $.Param "case_study_01.description" }}</h4>
                <div class="case-study__text__tags">
                    {{ range .Params.case_study_01.tags }}
                    <span class="case-study__text__tags--tag">{{.}}</span>
                    {{ end }}
                </div>
                <a href="#"><span id="view-project-link" class="link--view-project">View Project <svg id="arrow-right"
                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="{{ $.Param "icons.arrow_right" }}" />
                        </svg>
                    </span>
                </a>
            </div>
            <img src="{{ $.Param "case_study_01.img" }}" class="case-study--img">
        </div>

        <div class="case-study reverse">
            <div class="case-study__text">
                <span class="project-type">{{ $.Param "case_study_02.type" }}</span>
                <h2>{{ $.Param "case_study_02.title" }}</h2>
                <h4>{{ $.Param "case_study_02.description" }}</h4>
                <div class="case-study__text__tags">
                    {{ range .Params.case_study_02.tags }}
                    <span class="case-study__text__tags--tag">{{.}}</span>
                    {{ end }}
                </div>
                <a href="#"><span id="view-project-link" class="link--view-project">View Project <svg id="arrow-right"
                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                            <path d="{{ $.Param "icons.arrow_right" }}" />
                        </svg>
                    </span>
                </a>
            </div>
            <img class="img-md case-study--img" src="{{ $.Param "case_study_02.img" }}">
        </div>
    </div>

    {{/*  Notable Projects  */}}
    <div class="notable-projects">
        <h2>Notable Projects</h2>
        <h4>Smaller Projects & Experiments</h4>

        <div class="notable-projects__grid">
            <div class="notable-projects__grid__project">
                <div class="notable-projects__grid__project__image">
                    <a href="#" class="img-hover-zoom img-hover-zoom--colorize">
                        <img src="/images/manifest_website.jpg" alt="">
                    </a>
                    <svg class="external-link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="{{ $.Param "icons.external_link" }}" />
                    </svg>
                </div>
                <h5 class="notable-projects__grid__project--title">Manifest Website</h5>
            </div>
            <div class="notable-projects__grid__project">
                <div class="notable-projects__grid__project__image">
                    <a href="#" class="img-hover-zoom img-hover-zoom--colorize"><img src="images/game-square.jpg"
                            alt=""></a>
                    <svg class="external-link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="{{ $.Param "icons.external_link" }}" />
                    </svg>
                </div>
                <h5 class="notable-projects__grid__project--title">Manifest Website</h5>
            </div>
            <div class="notable-projects__grid__project">
                <div class="notable-projects__grid__project__image">
                    <a href="#" class="img-hover-zoom img-hover-zoom--colorize"><img src="https://picsum.photos/200/200"
                            alt=""></a>
                    <svg class="external-link-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="{{ $.Param "icons.external_link" }}" />
                    </svg>
                </div>
                <h5 class="notable-projects__grid__project--title">Manifest Website</h5>
            </div>
        </div>
    </div>

    {{/*  Facts  */}}
    <div class="facts">
        <div class="facts__fact">
            <img src="{{ $.Param "facts_01.img" }}" alt="" class="facts__fact--icon">
            <h4>{{ $.Param "facts_01.title" }}</h4>
            <p>{{ $.Param "facts_01.description" }}</p>
            <div class="facts__fact__tags">
                {{ range .Params.facts_01.tags }}
                <span class="facts__fact__tags--tag">{{ . }}</span>
                {{ end }}
            </div>
        </div>
        <div class="facts__fact">
            <img src="{{ $.Param "facts_02.img" }}" alt="" class="facts__fact--icon">
            <h4>{{ $.Param "facts_02.title" }}</h4>
            <p>{{ $.Param "facts_02.description" }}</p>
            <div class="facts__fact__tags">
                {{ range .Params.facts_02.tags }}
                <span class="facts__fact__tags--tag">{{ . }}</span>
                {{ end }}
            </div>
        </div>
        <div class="facts__fact">
            <img src="{{ $.Param "facts_03.img" }}" alt="" class="facts__fact--icon">
            <h4>{{ $.Param "facts_03.title" }}</h4>
            <p>{{ $.Param "facts_03.description" }}</p>
            <div class="facts__fact__tags">
                {{ range .Params.facts_03.tags }}
                <span class="facts__fact__tags--tag">{{ . }}</span>
                {{ end }}
            </div>
        </div>
    </div>

    {{/*  About  */}}
    <div id="about" class="about">
        <h2 class="about--title">About Me</h2>
        <div class="about__grid">
            <div class="about__grid__img">
                <h2>Hello, World 🌎!</h2>
                <h4>I’m a front end develop from Chicago</h4>
                <img class="u-mt" src="/images/profile.png" alt="">
            </div>

            <div class="about__grid__skills">
                <h2>Skills</h2>
                <div class="u-mt">
                    <h4>Development</h4>
                    <ul class="about__grid__skills__list">
                        {{ range .Params.skills.dev }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </div>
                <div class="u-mt">
                    <h4>Design</h4>
                    <ul class="about__grid__skills__list">
                        {{ range .Params.skills.design }}
                        <li>{{ . }}</li>
                        {{ end }}
                    </ul>
                </div>
            </div>
            <div class="about__grid__para">
                <p>Ever since a young age, I’ve been interested intechnology and design. From growing up with
                    theinternet, building countless projects and constantlyhaving an urge to create anything, purposeful
                    designhas been important to me. Ultimately, this fascinationwith creativity and design has led me to
                    find webdevelopment the perfect landscape to extend mypassion towards building interactive and
                    intuitive webexperiences.</p>
                <p>Along with development, I am very active in thedeveloper community online and in local
                    Chicagomeetups. I, amongst others, build up and motivateother like minded individuals, document our
                    progressand learn the latest technologies with developersglobally! Currently, I am studying Web
                    Developmentand Design at Columbia College Chicago.</p>
            </div>
            <div class="about__grid__socials">
                <h2>Connect</h2>
                <div class="about__grid__socials__icons u-mt">
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30" class="icon--social">
                            <path d="{{ $.Param "icons.github" }}" /></svg></a>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon--social">
                            <path d="{{ $.Param "icons.insta" }}" />
                        </svg></a>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="icon--social">
                            <path d="{{ $.Param "icons.linkedin" }}" />
                        </svg></a>
                    <a href="#"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" class="icon--social">
                            <path d="{{ $.Param "icons.medium" }}" />
                        </svg></a>
                    <a href="#"><svg viewBox="0 0 24 24" class="icon--social" xmlns="http://www.w3.org/2000/svg">
                            <path d="{{ $.Param "icons.email" }}" clip-rule="evenodd" fill-rule="evenodd" />
                        </svg></a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/app.js"></script>
{{ end }}